* {
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    height: 100;
    color: white;
    background-image: url("https://bing.biturl.top/?format=image&index=random&region=random");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    border: none;
    border-radius: 14px;
    background-color: rgba(65, 105, 225, 0.7);
    backdrop-filter: blur(0.5em);
    color: white;
    padding: 0.5em 0.7em;
    box-shadow: rgba(0, 0, 0, 0.33) 0 0 0.5em;
    transition: linear 100ms;
}

button:hover {
    transition: linear 100ms;
    cursor: pointer;
    background-color: rgba(135, 206, 250, 0.7);
}

.header {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    gap: 1em;
    margin: 2em 4em;
}

.pfp {
    background-image: url(https://avatars3.githubusercontent.com/juicermv);
    background-size: 100%;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 100%;
    width: 5em;
    height: 5em;
}

.title {
    border-bottom: white 0.06em solid;
    backdrop-filter: blur(0.5em);
    padding: 0.2em;
}

.content {
    padding: 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.33) 0 0 0.5em;
    width: fit-content;
    min-width: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgba(220, 220, 220, 0.7);
    backdrop-filter: blur(0.5em);
    color: darkslategray;
    border-radius: 0 110px 110px 0;
    justify-content: center;
    align-items:flex-end;
}

.footer {
    margin: 2em 4em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.bolder {
    font-weight: normal;
    font-size: larger;
}

.credit {
    font-size: xx-small;
    padding: 1em;
}

.credit a {
    color: cornflowerblue;
}