* {
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: burlywood;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button {
    border: none;
    border-radius: 14px;
    background-color: royalblue;
    color: white;
    padding: 0.5em 0.7em;
    box-shadow: rgba(0, 0, 0, 0.33) 0 0 0.5em;
    transition: linear 100ms;
}

button:hover {
    transition: linear 100ms;
    cursor: pointer;
    background-color: lightskyblue;
    color: dimgray;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    gap: 1em;
    margin: 2em 4em;
}

.pfp {
    background-image: url(https://avatars3.githubusercontent.com/juicermv);
    background-size: 100%;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 100%;
    width: 5em;
    height: 5em;
}

.title {
    border-bottom: white 0.06em solid;
}

.content {
    padding: 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.33) 0 0 0.5em;
    width: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    color: darkslategray;
    border-radius: 0 110px 110px 0;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    margin: 2em 4em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.bolder {
    font-weight: normal;
    font-size: larger;
}