@tailwind base;
@tailwind utilities;

@import 'custom.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://rsms.me/inter/inter.css');

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  line-height: 1.2em;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: InterVariable, sans-serif;
  }
}

#root {
  height: 100vh;
}

.mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@include color-mode(light) {
  .animate-shadow {
    transition: background-color 0.2s ease-in;
    background-color: $body-tertiary-bg;
  }

  .animate-no-shadow {
    transition: background-color 0.1s ease-out;
    background-color: $body-bg;
  }
}

@include color-mode(dark) {
  .animate-shadow {
    transition: background-color 0.2s ease-in;
    background-color: $body-tertiary-bg-dark;
  }

  .animate-no-shadow {
    transition: background-color 0.1s ease-out;
    background-color: $body-bg-dark;
  }
}
